.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
  
    height: 70px; 
    width: auto;
}
.nav-li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
    
}
.nav-li li a {
    text-decoration: none;
}