.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-text{
    text-align: center;
}
.logo {
  
    height: 70px; 
    width: auto;
}
.nav-li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
    
}
.nav-li li a {
    text-decoration: none;
}
.mid-section {
    margin-bottom: 40px;
    padding: 10px;
    margin-left: 350px;
}
.mid-section div {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    text-align: center; 
}
.mid-section img {
    width: 45%;
    height: auto;
    display: block;
}
.mid-section {
    display: flex;
    align-items: center;
    gap: 30px;
}

.mid-section .images {
    display: flex;
    gap: 10px;
}
